
.home-page {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* changed from center to flex-start */
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}


header {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  height: 1rem;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 80%;
  max-width: 800px;
  
}

table,
th,
td {
  border: 1px solid #333;
  text-align: center;
}

th,
td {
  padding: 0.5rem;
}

th {
  background-color: #333;
  color: white;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #2e7d32;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer
}

button:hover {
  background-color: #555;
}
.profile-button {
  background-color: #ffffff;
  border: 2px solid #007f5f;
  border-radius: 50%;
  color: #007f5f;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


